<div data-ng-controller="BalanceSheetController" data-ng-init="" >
  <div class="progressbar-heading grids-heading">
    <h2>รายงานงบดุล (Balance Sheet)</h2>
  </div>
  <div class="panel panel-widget" style="display: inline-block; width: 100%;">
    <div class="block-page text-center">
      <style media="screen">
        .block-page h4{
          margin:10px;
        }
        .value-font{
          color:red;
          font-weight: bold;
        }
      </style>
      <div class="row">
        <div class="col-md-12">
          <div class="pull-left"><h4>วิทยาเขต : <span class="value-font">บพิตรพิมุข</span></h4></div>
          <div class="pull-right btn btn-info"><i class="fa fa-print"></i>  พิมพ์รายงาน</div>
        </div>
      </div>
      <h4>วิทยาลัยนวัตกรรมการจัดการ มทร.รัตนโกสินทร์ </h4>
      <h4>งบดุล</h4>
      <h4>ณ <span class="value-font">23/07/2016</span></h4>
      <hr>
      <div class="col-md-12 balancesheet">
        <style media="screen">
          .balancesheet table tr td:nth-child(1){
            text-align: left;
            width:70%
          }
          .balancesheet table tr th:nth-child(1){
            text-align: left;
            width:70%
          }
          .balancesheet table tr td:nth-child(2){
            text-align: right;
          }
          .balancesheet table tr th:nth-child(2){
            text-align: right;
          }
          .balancesheet h3{
                font-weight: bold;
          }


          .balancesheet tr:not(:last-child) td:nth-child(1){
            text-indent:7.5%
          }
          .balancesheet tr:last-child td:nth-child(1){
            text-indent: 15%
          }
          .balancesheet tr:last-child td:nth-child(2),
          .balancesheet tr:last-child th:nth-child(2){
            text-decoration: underline;
          }
        </style>
        <div class="col-md-6">
          <table class="table">
            <tr>
              <th colspan="2" style="text-align:center"><h3>สินทรัพย์</h3></th>
            </tr>
            <tr>
              <th colspan="2" style="text-align:right">บาท</th>
            </tr>
          </table>

          <table class="table">
            <tr>
              <th colspan="2">สินทรัพย์หมุนเวียน</th>
            </tr>
            <tr><td>เงินสด</td><td>150000</td></tr>
            <tr><td>ลูกหนี้</td><td>75000</td></tr>
            <tr><td>สินค้าคงเหลือ</td><td>71400</td></tr>
            <tr><td>ค่าเช่าจ่ายล่วงหน้า</td><td>3600</td></tr>
            <tr><td>รวมสินทรัพย์หมุนเวียน</td><td>300000</td></tr>
          </table>

          <table class="table">
            <tr>
              <th colspan="2">สินทรัพย์ไม่หมุนเวียน</th>
            </tr>
            <tr><td>&nbsp;เงินลงทุนในบริษัทอื่น</td><td>30000</td></tr>
            <tr><td>&nbsp;ที่ดิน</td><td>120000</td></tr>
            <tr><td>&nbsp;อาคาร</td><td>150000</td></tr>
            <tr><td>&nbsp;&nbsp;รวมสินทรัพย์ไม่หมุนเวียน</td><td>300000</td></tr>
          </table>
          <table class="table">
            <tr>
              <th>รวมสินทรัพย์</th>
              <th>600000</th>
            </tr>
          </table>
        </div>



        <div class="col-md-6">
          <table class="table">
            <tr>
              <th colspan="2" style="text-align:center"><h3>หนี้สินและส่วนของเจ้าของ</h3></th>
            </tr>
            <tr>
              <th colspan="2" style="text-align:right">บาท</th>
            </tr>
          </table>
          <table class="table">
            <tr>
              <th colspan="2">หนี้สินหมุนเวียน</th>
            </tr>
            <tr><td>&nbsp;เจ้าหนี้</td><td>21000</td></tr>
            <tr><td>&nbsp;ลูกหนี้</td><td>9000</td></tr>
            <tr><td>&nbsp;&nbsp;รวมหนี้หมุนเวียน</td><td>30000</td></tr>
          </table>

          <table class="table">
            <tr>
              <th colspan="2">หนี้สินไม่หมุนเวียน</th>
            </tr>
            <tr><td>&nbsp;เงินกู้ยืมระยะยาว</td><td>150000</td></tr>
            <tr><td>&nbsp;&nbsp;รวมหนี้ทรัพย์ไม่หมุนเวียน</td><td>150000</td></tr>
          </table>

          <table class="table">
            <tr>
              <th>รวมหนี้สิน</th>
              <th>180000</th>
            </tr>
          </table>

          <table class="table">
            <tr>
              <th colspan="2">ส่วนของผู้ถือหุ้น</th>
            </tr>
            <tr><td>&nbsp;หุ้นสามัญ</td><td>300000</td></tr>
            <tr><td>&nbsp;กำไรสะสม</td><td>120000</td></tr>
            <tr><td>&nbsp;&nbsp;รวมส่วนของผู้ถือหุ้น</td><td>420000</td></tr>
          </table>

          <table class="table">
            <tr>
              <th>รวมหนี้สินและส่วนของผู้ถือหุ้น</th>
              <th>600000</th>
            </tr>
          </table>

        </div>

      </div>


    </div>
  </div>
</div>
