<div data-ng-controller="BalanceSheetController" data-ng-init="" >
  <div class="progressbar-heading grids-heading">
    <h2>รายงานงบดุล (Balance Sheet)</h2>
  </div>
  <div class="panel panel-widget" style="display: inline-block; width: 100%;">
    <div class="block-page text-center">
      <style media="screen">
        .block-page h4{
          margin:10px;
        }
        .value-font{
          color:red;
          font-weight: bold;
        }
      </style>
      <div class="row">
        <div class="col-md-12">
          <div class="pull-left"><h4>วิทยาเขต : <span class="value-font">{{campus_name}}</span></h4></div>
          <div class="pull-right btn btn-info"><i class="fa fa-print"></i>  พิมพ์รายงาน</div>
        </div>
      </div>
      <h4>วิทยาลัยนวัตกรรมการจัดการ มทร.รัตนโกสินทร์ </h4>
      <h4>งบดุล</h4>
      <h4>ณ <span class="value-font">{{date}}</span></h4>
      <hr>
      <div class="col-md-12 balancesheet">
        <style media="screen">
          .balancesheet table tr td:nth-child(1){
            text-align: left;
            width:70%
          }
          .balancesheet table tr th:nth-child(1){
            text-align: left;
            width:70%
          }
          .balancesheet table tr td:nth-child(2){
            text-align: right;
          }
          .balancesheet table tr th:nth-child(2){
            text-align: right;
          }
          .balancesheet h3{
                font-weight: bold;
          }


          .balancesheet tr:not(:last-child) td:nth-child(1){
            text-indent:7.5%
          }
          .balancesheet tr:last-child td:nth-child(1){
            text-indent: 15%
          }
          .balancesheet tr:last-child td:nth-child(2),
          .balancesheet tr:last-child th:nth-child(2){
            text-decoration: underline;
          }
        </style>
        <div class="col-md-6">
          <table class="table">
            <tr>
              <th colspan="2" style="text-align:center"><h3>สินทรัพย์</h3></th>
            </tr>
            <tr>
              <th colspan="2" style="text-align:right">บาท</th>
            </tr>
          </table>

          <table class="table">
            <tr>
              <th colspan="2">สินทรัพย์หมุนเวียน</th>
            </tr>
            <tr ng-repeat="i in balancesheet | filter:currentAssetFilter">
              <td>{{i.coa_detail}}</td>
              <td>{{i.amount_total}}</td>
            </tr>
            <tr><td>รวมสินทรัพย์หมุนเวียน</td><td>{{sumBalance('currentAsset')}}</td></tr>
          </table>

          <table class="table">
            <tr>
              <th colspan="2">สินทรัพย์ไม่หมุนเวียน</th>
            </tr>
            <tr ng-repeat="i in balancesheet | filter:noncurrentAssetFilter">
              <td>{{i.coa_detail}}</td>
              <td>{{i.amount_total}}</td>
            </tr>
            <tr><td>รวมสินทรัพย์ไม่หมุนเวียน</td><td>{{sumBalance('noncurrentAsset')}}</td></tr>
          </table>
          <table class="table">
            <tr>
              <th>รวมสินทรัพย์</th>
              <th>{{sumBalance('Asset')}}</th>
            </tr>
          </table>
        </div>



        <div class="col-md-6">
          <table class="table">
            <tr>
              <th colspan="2" style="text-align:center"><h3>หนี้สินและส่วนของเจ้าของ</h3></th>
            </tr>
            <tr>
              <th colspan="2" style="text-align:right">บาท</th>
            </tr>
          </table>
          <table class="table">
            <tr>
              <th colspan="2">หนี้สินหมุนเวียน</th>
            </tr>
            <tr ng-repeat="i in balancesheet | filter:currentLiabilityFilter">
              <td>{{i.coa_detail}}</td>
              <td>{{i.amount_total}}</td>
            </tr>
            <tr><td>&nbsp;&nbsp;รวมหนี้หมุนเวียน</td><td>{{sumBalance('currentLiability')}}</td></tr>
          </table>

          <table class="table">
            <tr>
              <th colspan="2">หนี้สินไม่หมุนเวียน</th>
            </tr>
            <tr ng-repeat="i in balancesheet | filter:noncurrentLiabilityFilter">
              <td>{{i.coa_detail}}</td>
              <td>{{i.amount_total}}</td>
            </tr>
            <tr><td>&nbsp;&nbsp;รวมหนี้ทรัพย์ไม่หมุนเวียน</td><td>{{sumBalance('noncurrentLiability')}}</td></tr>
          </table>

          <table class="table">
            <tr>
              <th>รวมหนี้สิน</th>
              <th>{{sumBalance('Liability')}}</th>
            </tr>
          </table>

          <table class="table">
            <tr>
              <th colspan="2">ส่วนของผู้ถือหุ้น</th>
            </tr>
            <tr ng-repeat="i in balancesheet | filter:shareholderFilter">
              <td>{{i.coa_detail}}</td>
              <td>{{i.amount_total}}</td>
            </tr>
            <tr><td>&nbsp;&nbsp;รวมส่วนของผู้ถือหุ้น</td><td>{{sumBalance('Shareholder')}}</td></tr>
          </table>

          <table class="table">
            <tr>
              <th>รวมหนี้สินและส่วนของผู้ถือหุ้น</th>
              <th>{{sumBalance('LiabilityAndShareholder')}}</th>
            </tr>
          </table>

        </div>

      </div>


    </div>
  </div>
</div>
