<div data-ng-controller="JournalizingController" data-ng-init="getJournal()" >
  <div class="progressbar-heading grids-heading">
    <h2>ทำบัญชีรายวัน (Journalizing)</h2>
  </div>
  <div class="panel panel-widget">
    <div class="block-page">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-left">
            <table >
              <tr>
                <td>
                  <h3>สมุดบัญชีรายวันของวันที่ :&nbsp;</h3>
                </td>
                <td>
                  <input type="text" class="form-control" placeholder="dd/mm/yyyy" id="datejournal" ng-model="datejournal" data-provide="datepicker" data-date-language="th" />
                </td>
              </tr>
            </table>
          </div>
          <div class="pull-right btn btn-info" style="margin:2px"><i class="fa fa-save"></i>  บันทึกรายการ</div>
        </div>
      </div>
      <hr>
      <div class="col-md-12">
        คำอธิบาย : 
        <textarea name="description" ng-model="description"  class="form-control" row="2"></textarea>
        <hr>
      </div>


      <table class="table table-bordered" >
        <style>
          .table.table-bordered th,.table.table-bordered td{
            text-align: center;
          }
          .table.table-bordered thead tr th{
            background-color: #efe5e5;
          }
          .table.table-bordered tfoot tr td{
            border-top: 2px !important;
            border-top-style: solid !important;
            border-top-color: black !important;
          }
          .table.table-bordered thead tr th:nth-child(1){
            width:10%;
          }
          .table.table-bordered thead tr th:nth-child(2){
            /*width:300px;*/
          }
          .table.table-bordered thead tr th:nth-child(3),
          .table.table-bordered thead tr th:nth-child(4),
          .table.table-bordered thead tr th:nth-child(5){
            width:10%;
          }

          .table.table-bordered tbody tr td:nth-child(2){
            text-align: left;
          }

          .table.table-bordered tbody tr td:nth-child(2).text-indent{
            text-indent: 100px;
          }



        </style>
        <thead>
          <tr>
            <th>#</th>
            <th>รายการ</th>
            <th>เลขที่บัญชี</th>
            <th>เดบิต</th>
            <th>เครดิต</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="i in details">
            <td>{{$index+1}}</td>
            <td ng-class="{'text-indent':i.drcr=='2'}">
              {{i.detail}}
            </td>
            <td>{{i.ledger_id}}</td>
            <td ng-if="i.drcr=='1'">{{i.amount}}</td>
            <td ng-if="i.drcr=='1' || i.drcr=='2' "></td>
            <td ng-if="i.drcr=='2'">{{i.amount}}</td>
          </tr>
        </tbody>
        <tfoot>
          <td colspan="3" style="text-align:center"> รวม </td>
          <td>{{SumDrCr("1")}}</td>
          <td>{{SumDrCr("2")}}</td>
        </tfoot>
      </table>
      <hr>
      <h3>เพิ่มรายการ</h3>
      <div class="row">
        <div class="col-md-12 addJournal" ng-init="drcr = '';detail='';amount=''">
          <style>
            .addJournal select,.addJournal input{
              margin:10px;
            }
          </style>
          <select class="form-control" name="drcr" id="" ng-model="drcr">
            <option value="" disabled selected>Debit/Credit</option>
            <option value="1">Debit</option>
            <option value="2">Credit</option>
          </select>
          <autocomplete ng-model="detail"
          attr-placeholder="รายการบัญชี"
          click-activation="true"
          attr-input-class="form-control"
          data="ledgers"
          on-type="searchText"
          on-select="selectedText">
          </autocomplete>
          <!-- <input class="form-control" type="text" name="detail" placeholder="รายการ" ng-model="detail" /> -->
          <!-- <input class="form-control" type="hidden" value="{{ledger_id}}" /> -->
          <input class="form-control" type="number" name="amount" placeholder="จำนวนเงิน" ng-model="amount" />
          <input class="btn btn-primary form-control" type="button"  value="เพิ่มรายการ" ng-click="addDetail()" ng-disabled="detail == '' || amount == '' || drcr =='' " />
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function () {
      $("#datejournal").datepicker({
          format: 'dd/mm/yyyy',
          todayBtn: "linked",
          autoclose: true,
          toggleActive: true
      }).keydown(false);
});
</script>
