<div data-ng-controller="JournalDetailController" data-ng-init="getJournalDetail()" >
  <div class="progressbar-heading grids-heading">
    <h2>รายการบัญชีรายวัน (Journal Details)</h2>{{xxx}}
  </div>
  <div class="panel panel-widget">
    <div class="block-page">
      <h3>สมุดบัญชีรายวันของวันที่ {{datestart | date:"dd/MM/yyyy" }} ถึง {{dateend | date:"dd/MM/yyyy" }}</h3>
      <hr>
      <table class="table table-bordered" >
        <style>
          .table.table-bordered th,.table.table-bordered td{
            text-align: center;
          }
          .table.table-bordered thead tr th{
            background-color: #efe5e5;
          }
          .table.table-bordered tfoot tr td{
            border-top: 2px !important;
            border-top-style: solid !important;
            border-top-color: black !important;
          }
          .table.table-bordered thead tr th:nth-child(1),
          .table.table-bordered thead tr th:nth-child(2){
            /*width:140px;*/
            width:10%;
          }
          .table.table-bordered thead tr th:nth-child(3){
            /*width:300px;*/
            width:50%;
          }

          .table.table-bordered thead tr th:nth-child(4)
          .table.table-bordered thead tr th:nth-child(5),
          .table.table-bordered thead tr th:nth-child(6){
            /*width:120px;*/
            width:10%;
          }




          .table.table-bordered tbody tr td:nth-child(3){
            text-align: left;
          }
          .table.table-bordered tbody tr td:nth-child(5),
          .table.table-bordered tbody tr td:nth-child(6),
          .table.table-bordered tfoot tr td:nth-child(2),
          .table.table-bordered tfoot tr td:nth-child(3){
            text-align: right;
          }



          /* in table */
          .table.table-bordered tbody tr td:nth-child(3).text-indent{
            text-indent: 100px;
          }
          .table.table-bordered tbody tr td:nth-child(3).border-end{
            border-bottom: 2px solid black;
          }



        </style>
        <thead>
          <tr>
            <th>วัน/เดือน/ปี</th>
            <th>เลขที่รายการ</th>
            <th>รายการ</th>
            <th>เลขที่บัญชี</th>
            <th>เดบิต</th>
            <th>เครดิต</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key,i) in journal_details">
            <td ng-if="journal_details[key-1].journal_date != i.journal_date">{{i.journal_date}}</td>
            <td ng-if="journal_details[key-1].journal_date == i.journal_date"></td>
            <td ng-if="journal_details[key-1].journal_id != i.journal_id">{{i.journal_id}}</td>
            <td ng-if="journal_details[key-1].journal_id == i.journal_id"></td>
            <td ng-class="{'text-indent':i.drcr=='2','border-end':i.drcr=='3'}">
              {{i.detail}}
            </td>
            <td>{{i.ledger_id}}</td>
            <td ng-if="i.drcr=='1' || i.drcr=='3'">{{i.amount}}</td>
            <td ng-if="i.drcr=='1' || i.drcr=='2' "></td>
            <td ng-if="i.drcr=='2' || i.drcr=='3'">{{i.amount}}</td>
          </tr>
        </tbody>
        <tfoot>
          <td colspan="4" style="text-align:center"> รวม </td>
          <td>{{SumDrCr("1")}}</td>
          <td>{{SumDrCr("2")}}</td>
        </tfoot>
      </table>


    </div>
  </div>
</div>
