<div data-ng-controller="JournalsController" data-ng-init="getJournals()" >
  <div class="progressbar-heading grids-heading">
    <h2>รายการบัญชีรายวัน (Journals List)</h2>
  </div>
  <div class="panel panel-widget">
    <div class="block-page">
      <h3>ค้นหารายการบัญชีทั่วไปรายวัน</h3>
      <hr>
      <div class="row">
        <style>
        .searchJournal select,.searchJournal input{
          margin:10px;
        }
        </style>
        <div class="col-md-12 searchJournal">
          <div class="col-md-6">
              วันที่เริ่ม :
              <input type="text" class="form-control" id="datestart"  placeholder="dd/mm/yyyy" data-provide="datepicker" data-date-language="th" />
          </div>
          <div class="col-md-6">
              วันที่สิ้นสุด :
              <input type="text" class="form-control" id="dateend"   placeholder="dd/mm/yyyy" data-provide="datepicker" data-date-language="th" />
          </div>
          <div class="col-md-12">
            <input type="button" class="btn btn-primary form-control" value="ค้นหา">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

$(function () {
      $("#datestart").datepicker({
          format: 'dd/mm/yyyy',
          todayBtn: "linked",
          autoclose: true,
          toggleActive: true
      }).on('changeDate', function (selected) {
          if ($(this).val() == "") {
              $('#datestart').datepicker('setEndDate', null);

              $('#dateend').datepicker('setStartDate', null);
              $('#dateend').datepicker('setEndDate', null);
              $('#dateend').val("");
          } else {
              var dateFrom = new Date(selected.date.valueOf());
              $('#dateend').datepicker('setStartDate', dateFrom);
          }
      }).keydown(false);

      $('input[id$=txtContractTo]').datepicker({
          format: 'dd/mm/yyyy'
      }).on('changeDate', function (selected) {
          if ($(this).val() == "") {
              $('#datestart').datepicker('setEndDate', null);
          } else {
              var dateTo = new Date(selected.date.valueOf());
              $('#datestart').datepicker('setEndDate', dateTo);
          }
      }).keydown(false);
});
</script>
