<div data-ng-controller="ProfitLossController" data-ng-init="getProfitLoss()" >
  <div class="progressbar-heading grids-heading">
    <h2>รายงานงบกำไรขาดทุน (Profit Loss)</h2>
  </div>
  <div class="panel panel-widget">
    <div class="block-page text-center">
      <style media="screen">
        .block-page h4{
          margin:10px;
        }
        .value-font{
          color:red;
          font-weight: bold;
        }
      </style>
      <div class="row">
        <div class="col-md-12">
          <div class="pull-left"><h4>วิทยาเขต : <span class="value-font">{{campus_name}}</span></h4></div>
          <div class="pull-right btn btn-info"><i class="fa fa-print"></i>  พิมพ์รายงาน</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>วิทยาลัยนวัตกรรมการจัดการ มทร.รัตนโกสินทร์ </h4>
          <h4>งบกำไรขาดทุน</h4>
          <h4>วันที่ <span class="value-font">{{datestart}}</span> - <span class="value-font">{{dateend}}</span></h4>
          <hr>
        </div>
      </div>
      <div class="row">
        <style media="screen">
          .profitloss h4{
            font-weight: bold;
          }
          .profitloss table tr td:nth-child(1){
            width: 70%;
            text-indent: 5%;
            text-align: left;
          }
          .profitloss table tr td:nth-child(2){
            text-align: right;
          }
          .profitloss table tr:last-child td:nth-child(1){
            text-indent: 15%;
          }
          .profitloss table tr:last-child td:nth-child(2){
            text-decoration: underline;
          }
        </style>
        <div class="col-md-6 profitloss">
          <table class="table">
              <tr>
                <th colspan="2">
                  <h4>รายได้ :</h4>
                </th>
              </tr>
              <tr ng-repeat="i in profitloss | filter:profitFilter">
                <td>{{i.coa_detail}}</td>
                <td>{{i.amount_total}}</td>
              </tr>
              <tr><td>รวมรายได้</td><td>{{sumProfitLoss("Profit")}}</td></tr>
          </table>
        </div>
        <div class="col-md-6 profitloss">
          <table class="table">
              <tr>
                <th colspan="2">
                  <h4>ค่าใช้จ่าย :</h4>
                </th>
              </tr>
              <tr ng-repeat="i in profitloss | filter:lossFilter">
                <td>{{i.coa_detail}}</td>
                <td>{{i.amount_total}}</td>
              </tr>
              <tr><td>รวมค่าใช้จ่าย</td><td>{{sumProfitLoss("Loss")}}</td></tr>
          </table>
        </div>
      </div>


    </div>
  </div>
</div>
