<div data-ng-controller="SearchProfitLossController" data-ng-init="" >
  <div class="progressbar-heading grids-heading">
    <h2>ค้นหางบกำไรขาดทุน (Search Profit Loss Statement)</h2>
  </div>
  <div class="panel panel-widget">
    <div class="block-page">
      <h3>เงื่อนไขในการแสดงงบกำไรขาดทุน </h3>
      <hr>
      <div class="row">
        <style>
        .searchPanel select,.searchPanel input{
          margin:10px;
        }
        </style>
        <div class="col-md-12 searchPanel">
          <div class="col-md-12">
            วิทยาเขต :
            <select name="campus" class="form-control" ng-model="campus_id">
              <option value="" disabled selected>เลือกวิทยาเขต</option>
              <option value="1">บพิตรพิมุข</option>
              <option value="2">วังไกลกังวล</option>
              <option value="3">ศาลายา</option>
              <option value="4">ทุกวิทยาเขต</option>
            </select>
          </div>
          <div class="col-md-6">
              วันที่เริ่ม :
              <input type="text" class="form-control" id="datestart"  placeholder="dd/mm/yyyy" data-provide="datepicker" data-date-language="th" ng-model="datestart" />
          </div>
          <div class="col-md-6">
              วันที่สิ้นสุด :
              <input type="text" class="form-control" id="dateend"   placeholder="dd/mm/yyyy" data-provide="datepicker" data-date-language="th" ng-model="dateend" />
          </div>
          <div class="col-md-12">
            <input type="button" ng-disabled="checkCondition()" ng-click="viewProfitLoss()" class="btn btn-primary form-control" value="แสดงรายงานงบกำไรขาดทุน">
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<script type="text/javascript">

$(function () {
      $("#datestart").datepicker({
          format: 'dd/mm/yyyy',
          todayBtn: "linked",
          autoclose: true,
          toggleActive: true
      }).on('changeDate', function (selected) {
          if ($(this).val() == "") {
              $('#datestart').datepicker('setEndDate', null);

              $('#dateend').datepicker('setStartDate', null);
              $('#dateend').datepicker('setEndDate', null);
              $('#dateend').val("");
          } else {
              var dateFrom = new Date(selected.date.valueOf());
              $('#dateend').datepicker('setStartDate', dateFrom);
          }
      }).keydown(false);

      $('#dateend').datepicker({
            format: 'dd/mm/yyyy',
            todayBtn: "linked",
            autoclose: true,
            toggleActive: true
      }).on('changeDate', function (selected) {
          if ($(this).val() == "") {
              $('#datestart').datepicker('setEndDate', null);
          } else {
              var dateTo = new Date(selected.date.valueOf());
              $('#datestart').datepicker('setEndDate', dateTo);
          }
      }).keydown(false);
});
</script>
