<div ng-controller="homepageController">
	<div class="progressbar-heading grids-heading">
		<h2>หน้าแรก</h2>
	</div>
	<div class="panel panel-widget">
		<div class="block-page">
			<style>.block-page p{color:black}</style>
			<h4>ยินดีตอนรับเข้าสู่ระบบโปรแกรมบัญชีของวิทยาลัยนวัตกรรมการจัดการ</h4>
			<hr>
			<h4 style="text-decoration: underline;">ความเป็นมา</h4>
			<div style="text-align:justify;margin:20px">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				วิทยาลัยนวัตกรรมการจัดการ มหาวิทยาลัยเทคโนโลยีราชมงคลรัตนโกสินทร์ เป็นวิทยาลัยในสังกัดมหาวิทยาลัยเทคโนโลยีราชมงคลรัตนโกสินทร์ มีความต้องการที่จะปรับปรุงระบบบัญชี ซึ่งในการปรับปรุงระบบบัญชีจะต้องนำข้อมูลทางบัญชีที่มีอยู่ก่อนหน้านั้นนำมาปรับปรุงและเปลี่ยนแปลงให้ดีขึ้น ปัจจุบันวิทยาลัยยังใช้ระบบบัญชีของกองคลัง ยังไม่มีระบบบัญชีของตนเอง จึงทำให้เกิดความล่าช้าค้นหาข้อมูลต่าง ๆ ทำให้วิทยาลัยบริหารงานได้ไม่เต็มประสิทธิภาพ ดังนั้นวิทยาลัยจึงต้องการมีระบบบัญชีที่เหมาะสมกับกระบวนการทำงานของวิทยาลัยรองรับต่อไปในอนาคตและซอฟต์แวร์โปรแกรมบัญชีก็เป็นส่วนหนึ่งของระบบบัญชี จึงต้องการศึกษาเกี่ยวกับการใช้งานโปรแกรมทางการบัญชี ความเหมาะสมกับกระบวนการบัญชีของวิทยาลัยและความมีประสิทธิภาพของตัวโปรแกรม
			</div>
			<h4 style="text-decoration: underline;">วัตถุประสงค์</h4>
			<div style="text-align:justify;margin:20px">
				<ul>
					<li>1.	ศึกษากระบวนการทำงานของระบบบัญชีที่วิทยาลัยนวัตกรรมการจัดการ</li>
					<li>2.	วิเคราะห์และเลือกเทคโนโลยีสารสนเทศที่วิทยาลัยนวัตกรรมใช้อยู่ในปัจจุบัน</li>
					<li>3.	ศึกษาปัจจัยในการจัดหาโปรแกรมบัญชีที่เหมาะสมกับวิทยาลัยนวัตกรรมการจัดการ</li>
				</ul>
			</div>
			<h4 style="text-decoration: underline;">ประโยชน์ที่คาดว่าจะได้รับ</h4>
			<div style="text-align:justify;margin:20px">
				<ul>
					<li>1.	นำข้อมูลที่เกี่ยวกับกระบวนการทำงานของระบบบัญชีมาใช้เป็นเกณฑ์ในการพัฒนาซอฟต์แวร์โปรแกรมบัญชีที่เหมาะสมกับการใช้งานสำหรับระบบบัญชีของวิทยาลัยนวัตกรรม</li>
					<li>2.	การบริหารระบบบัญชีของวิทยาลัยนวัตกรรมจะมีประสิทธิภาพมากขึ้น เช่น ความถูกต้องแม่นยำของข้อมูล และความสะดวกรวดเร็วในการทำบัญชี</li>
					<li>3.	พนักงานบัญชีจะทำบัญชีได้สะดวกขึ้น เนื่องจากมีซอฟต์แวร์โปรแกรมบัญชีเป็นเครื่องมือช่วยในการทำงาน</li>
					<li>4.	ผู้บริหารได้รับรายงานทางบัญชีในรูปแบบที่ต้องการ</li>
					<li>5.	ประเมินผลการวิเคราะห์ มาใช้ในการวางแผนพัฒนาโปรแกรม</li>
					<li>6.	พัฒนาระบบบัญชี ตามความต้องการของคณะผู้บริหาร</li>
				</ul>
			</div>
		</div>
	</div>
</div>
