
<!DOCTYPE HTML>
<html>
<head>
<title>ระบบบัญชีแยกประเภท วิทยาลัยนวัตกรรม | RCIM </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Baxster Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<link rel="icon" href="./favicon.ico" type="image/x-icon" >
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons -->
<!--webfonts-->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//webfonts-->
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
</head>
<body class="login-bg" style="background:/*#504b4b*/url(../img/bg/bg.jpg) no-repeat 0px 0px;height:100%" >
		<div class="login-body">
			<div class="login-heading" style="text-align:center;background:#f2dede">
				<!--h1>Login</h1-->
				<img class="img-responsesive" style="height:100px" src="img/logo/LOGO-RICM2.png">
			</div>
			<div class="login-info">
				<form action="/users/login" method="post">
					<input type="text" class="user" name="user_id" placeholder="Username" required="">
					<input type="password" name="password" class="lock" placeholder="Password">

					<input type="submit" name="Sign In" value="Login">
					<div class="signup-text">
						&nbsp;<!--a href="signup.html">Don't have an account? Create one now</a-->
					</div>
					<hr>
					<div class="login-icons">
						<a onclick="$('#tablepass').toggle('fast');" style="cursor:pointer;text-decoration:underline;font-weight:bold">รหัสในการเข้าใช้งาน</a>
						<table id="tablepass" style="display:none">
							<style>
							#tablepass th:nth-child(1),
							#tablepass th:nth-child(2),
							#tablepass th:nth-child(3){width:150px}
							#tablepass th{border:1px solid black}
							#tablepass td{border-left:1px solid black}
							#tablepass td{border-right:1px solid black}
							#tablepass tr:last-child td{border-bottom: 1px solid black}
							#tablepass th,
							#tablepass td{padding:2px}
							</style>
							<tr><th>ID</th><th>PASSWORD</th><th>ROLE</th></tr>
							<tr><td>sirarus</td><td>123456789</td><td>พนักงานบัญชี</td></tr>
							<tr><td>pariwat</td><td>123456789</td><td>หัวหน้าพนักงาน</td></tr>
							<tr><td>nuttaporn</td><td>123456789</td><td>ผู้บริหาร</td></tr>
							<tr><td>tanandara</td><td>123456789</td><td>ผู้ดูแลระบบ</td></tr>
						</table>
					</div>
				</form>
			</div>
		</div>
		<div class="go-back login-go-back">
				&nbsp;<!--a href="index.html">Go To Home</a-->
			</div>
		<style>
		@font-face {
				font-family: 'cloud';
				src:  url('fonts/Cloud-Light.otf');
			}

			p,h2,h3,h1,h4,div{
				font-family: 'cloud' !important;
			}
		</style>
		<div style="text-shadow: 1px 5px 10px black;font-weight: bold;" class="copyright login-copyright">
           <p>© 2016 วิทยาลัยนวัตกรรมการจัดการ . ออกแบบโดย <a href="http://w3layouts.com/">W3layouts</a></p>
		</div>
</body>
</html>
