<div data-ng-controller="AddLedgerController" data-ng-init="getLedgers()" >
  <div class="progressbar-heading grids-heading">
    <h2>เพิ่มสมุดบัญชีแยกประเภท (Add Ledgers)</h2>
  </div>
  <div class="panel panel-widget">
    <div class="block-page">
      <div class="col-md-6"><h3>เพิ่มสมุดบัญชีแยกประเภท </h3></div>
      <br>
      <hr>
      <div class="row">
        <style>
        .searchLedger select,.searchLedger input{
          margin:10px;
        }
        </style>
        <div class="col-md-12 searchLedger">
          <div class="col-md-12">
            หมวดบัญชี :
            <select name="coa" ng-model="coa" class="form-control" ng-change="currentCheck()" id="">
              <option value="" disabled selected>หมวดบัญชี</option>
              <option value="1">สินทรัพย์</option>
              <option value="2">หนี้สิน</option>
              <option value="3">ส่วนเจ้าของ</option>
              <option value="4">รายได้</option>
              <option value="5">ค่าใช้จ่าย</option>
            </select>
          </div>
          <div class="col-md-12">
            เลขที่สมุดบัญชีแยกประเภท :
            <input type="text" ng-model="ledger_id" class="form-control" placeholder="ใส่เลขที่บัญชีแยกประเภท" />
          </div>
          <div class="col-md-12">
            ชื่อสมุดบัญชีแยกประเภท :
            <input type="text" ng-model="ledger_name" class="form-control" placeholder="ใส่ชื่อบัญชีแยกประเภท" />
          </div>
          <div class="col-md-12" ng-show="coa=='1' || coa=='2'">
            หมุนเวียน/ไม่หมุนเวียน :
            <select  ng-model="current" class="form-control" id="">
              <option value="" disabled selected>เลือกหมุน/ไม่หมุน</option>
              <option value="1">{{coa_text}}หมุนเวียน</option>
              <option value="2">{{coa_text}}ไม่หมุนเวียน</option>
            </select>
          </div>
          <div class="col-md-12">
            <input ng-disabled="checkData()" type="button" class="btn btn-primary form-control" value="เพิ่มสมุดบัญชี">
          </div>
        </div>
        <div class="col-md-12">
          <hr>
          <div class="col-md-12 text-center" style="margin:20px;"><h3>รายการบัญชีแยกประเภททั้งหมดในระบบ</h3></div>

          <table class="table table-bordered table-hover" >
            <style>
              .table-hover tr:hover{
                cursor: pointer;
              }
              .table.table-bordered th,.table.table-bordered td{
                text-align: center;
              }
              .table.table-bordered thead tr th{
                background-color: #efe5e5;
              }
              .table.table-bordered thead tr th:nth-child(1){
                width:10px;
              }
              .table.table-bordered thead tr th:nth-child(2){
                width:100px;
              }
              .table.table-bordered tbody tr td:nth-child(3){
                text-indent:  25px !important;
                text-align: left;
              }
            </style>
            <thead>
              <tr>
                <th>#</th>
                <th>เลขที่บัญชี</th>
                <th>รายการบัญชี</th>
                <th>หมวดบัญชี</th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in ledgers"  >
                  <td></td>
                  <td>{{i.ledger_id}}</td>
                  <td>{{i.ledger_name}}</td>
                  <td>{{i.coa}}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
