<div data-ng-controller="LedgerDetailController" data-ng-init="initFunction()" >
  <div class="progressbar-heading grids-heading">
    <h2>รายการบัญชีแยกประเภท (Ledger)</h2>
  </div>
  <div class="panel panel-widget">
    <div class="block-page text-center">
      <style media="screen">
        .block-page h4{
          margin:10px;
        }
        .value-font{
          color:red;
          font-weight: bold;
        }
      </style>
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right btn btn-info"><i class="fa fa-print"></i>  พิมพ์รายงาน</div>
        </div>
      </div>
      <h4>วิทยาลัยนวัตกรรมการจัดการ มทร.รัตนโกสินทร์ </h4>
      <h4>ชื่อบัญชี : <span class="value-font">{{account_name}}</span></h4>
      <h4>ชื่อบัญชีแยกประเภท : <span class="value-font">{{ledger_name}}</span></h4>
      <h4>วันที่ <span class="value-font">{{datestart}}</span> - <span class="value-font">{{dateend}}</span></h4>
      <hr>
      <table class="tbhead-ledger" style="width:100%">
        <style>
        .tbhead-ledger{
          margin:10px;
        }
        .tbhead-ledger tr:nth-child(2) td{
          text-align: left;
        }
        .tbhead-ledger tr:nth-child(1) td{
          text-align: center;
          font-size: large;
        }
        </style>
        <tr>
          <td>{{ledger_name}}</td>
        </tr>
        <tr>
          <td>เลขที่บัญชี {{coa_id}}</td>
        </tr>
      </table>

      <table class="table table-bordered" >
        <style>
          .table.table-bordered th,.table.table-bordered td{
            text-align: center;
          }
          .table.table-bordered thead tr th{
            background-color: #efe5e5;
          }
          .table.table-bordered thead tr th:nth-child(1){
            width:120px;
          }
          .table.table-bordered thead tr th:nth-child(2){
            width:110px;
          }
          .table.table-bordered tbody tr td:nth-child(3){
            width:50%;
            /*text-indent:  10px !important;*/
            text-align: left;
          }
          /*.table.table-bordered tr th:nth-child(4),
          .table.table-bordered tr td:nth-child(4){
            border-right:2px;
            border-right-color:black;
            border-right-style:solid;
          }*/
          .table.table-bordered tr td:nth-child(4),
          .table.table-bordered tr td:nth-child(5),
          .table.table-bordered tr td:nth-child(6){
            width:10%;
            text-align: right;
          }
          .table.table-bordered tfoot tr td{
            border-top:2px !important;
            border-top-color:black !important;
            border-top-style:solid !important;
          }


        </style>
        <thead>
          <tr>
            <th>วันเดือนปี</th>
            <th>เลขที่เอกสาร<br>อ้างอิง</th>
            <th>รายการ</th>
            <th>เดบิต</th>
            <th>เครดิต</th>
            <th>คงเหลือ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td style="text-align:right">ยอดยกมา</td>
            <td></td>
            <td></td>
            <td>{{broughtForward()}}</td>
          </tr>
          <tr ng-repeat="(key,i) in details">
              <td ng-if="details[key-1].date_time != i.date_time">{{i.date_time}}</td>
              <td ng-if="details[key-1].date_time == i.date_time"></td>
              <td>{{i.ref_no}}</td>
              <td>{{i.detail}}</td>
              <td ng-if="i.drcr=='1'">{{i.amount}}</td>
              <td ng-if="i.drcr=='1' || i.drcr=='2' "></td>
              <td ng-if="i.drcr=='2'">{{i.amount}}</td>
              <td></td>
          </tr>
        </tbody>
        <tfoot>
          <td></td>
          <td></td>
          <td>รวม</td>
          <td>{{SumDrCr("1")}}</td>
          <td>{{SumDrCr("2")}}</td>
          <td>{{ carryForward() }}</td>
        </tfoot>
      </table>
    </div>
  </div>
</div>
