<div data-ng-controller="TrialBalanceController" data-ng-init="initFunction()" >
  <div class="progressbar-heading grids-heading">
    <h2>รายงานงบทดลอง (Trial Balance)</h2>
  </div>
  <div class="panel panel-widget" id="printThis">
    <div class="block-page text-center">
      <style>
        .block-page h4{
          margin:10px !important;
        }
        .value-font{
          color:red !important;
          font-weight: bold !important;
        }
      </style>
      <div class="row">
        <div class="col-md-12" >
          <div class="pull-left"><h4>ชื่อบัญชี : <span class="value-font">{{account_name}}</span></h4></div>
          <div class="pull-right btn btn-info" id="print" onclick="printReport()"><i class="fa fa-print"></i>  พิมพ์รายงาน</div>
        </div>
      </div>
      <h4>วิทยาลัยนวัตกรรมการจัดการ มทร.รัตนโกสินทร์ </h4>
      <h4>งบทดลอง</h4>
      <h4>วันที่ <span class="value-font">{{datestart}}</span> - <span class="value-font">{{dateend}}</span></h4>
      <hr>
      <table class="table table-bordered table-hover">
      <style>
        .table-hover tr:hover{
          cursor: pointer;
        }
        .table.table-bordered th,.table.table-bordered td{
          text-align: center;
        }
        .table.table-bordered thead tr th{
          background-color: #efe5e5 !important;
        }
        .table.table-bordered thead tr th:nth-child(1){
          width:100px;
        }
        .table.table-bordered thead tr th:nth-child(3),
        .table.table-bordered thead tr th:nth-child(4),
        .table.table-bordered thead tr th:nth-child(5),
        .table.table-bordered thead tr th:nth-child(6){
          width:150px;
        }
        .table.table-bordered tbody tr td:nth-child(2){
          text-indent:  25px !important;
          text-align: left;
        }
        .table.table-bordered tbody tr td:nth-child(3),
        .table.table-bordered tbody tr td:nth-child(4),
        .table.table-bordered tbody tr td:nth-child(5),
        .table.table-bordered tbody tr td:nth-child(6),
        .table.table-bordered tfoot tr td:nth-child(3),
        .table.table-bordered tfoot tr td:nth-child(4),
        .table.table-bordered tfoot tr td:nth-child(5),
        .table.table-bordered tfoot tr td:nth-child(6){
          text-align: right;
        }
        .table.table-bordered tfoot tr td{
          border-top:3px !important;
          border-top-color:black !important;
          border-top-style:solid !important;
        }
        @media print {
          .table.table-bordered thead tr th:nth-child(3),
          .table.table-bordered thead tr th:nth-child(4),
          .table.table-bordered thead tr th:nth-child(5),
          .table.table-bordered thead tr th:nth-child(6){
            width:80px;
          }
        }
      </style>
        <thead>
          <tr>
            <th>เลขที่บัญชี</th>
            <th>ชื่อบัญชี</th>
            <th>ยอดยกมา</th>
            <th>เดบิต</th>
            <th>เครดิต</th>
            <th>ยอดคงเหลือ</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="i in trial">
            <td>{{i.coa_id}}</td>
            <td>{{i.coa_detail}}</td>
            <td>{{FormatDrCr(i.brought_forward)}}</td>
            <td>{{i.current_dr}}</td>
            <td>{{i.current_cr}}</td>
            <td>{{FormatDrCr(i.carry_forward)}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td>{{sumBroughtForward}}</td>
            <td>{{sumDr}}</td>
            <td>{{sumCr}}</td>
            <td>{{sumCarryForward}}</td>
          </tr>
        </tfoot>
      </table>

    </div>
  </div>
</div>
