<div data-ng-controller="AccountController" data-ng-init="GetAllaccounts()">
  <div class="progressbar-heading grids-heading">
    <h2>จัดการบัญชีในระบบ</h2>
  </div>
  <div class="panel panel-widget">
    <div class="row">
        <div class="col-md-12">
          <!--a class="hvr-bounce-to-right pull-right" ng-click="addAccountModal()">เพิ่มบัญชี</a-->
          <div  ng-click="addAccountModal()" class="pull-right btn btn-info" style="font-size:16px;margin:2px"><i class="fa fa-bank"></i>  เพิ่มบัญชี</div>
        </div>
    </div>
    <div class="tables">
      <h4>&nbsp;</h4>
      <table class="table table-bordered" data-ng-show="accounts">
        <style>
          .table.table-bordered th,.table.table-bordered td{
            text-align: center;
          }
          .table.table-bordered thead tr:first-child th{
            background-color: #efe5e5;
          }
          .table.table-bordered th:nth-child(1){
            width:150px;
          }
          .table.table-bordered th:nth-child(3){
            width:150px;
          }

          .table.table-bordered td:nth-child(2){
            text-align: left;
            text-indent: 5px;
          }
        </style>
        <thead>
          <tr>
            <th>รหัสบัญชี</th>
            <th>ชื่อบัญชี</th>
            <th>Edit / Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr  ng-repeat="i in accounts">
            <td>{{i.account_id}}</td>
            <td>{{i.account_name}}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-danger" ng-click="editAccountModal(i)" >เลือก</button>
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#" ng-click="editAccountModal(i)">แก้ไข</a></li>
                  <li><a href="#" ng-click="deleteAccountModal(i)">ลบ</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <script type="text/ng-template" id="deleteModalContent">
      <div class="modal-header">
          <h3 class="modal-title">ข้อความ</h3>
      </div>
      <div class="modal-body" ng-init="initData()">
          <h3>คุณต้องการที่จะลบ <span style="color:red">{{account_name}}</span> ใช่หรือไม่</h3>
      </div>
      <div class="modal-footer">
          <a class="btn btn-info" type="button" ng-click="ok()" >ตกลง</a>
          <a class="btn btn-danger" type="button" ng-click="cancel()" >ยกเลิก</a>
      </div>
  </script>


  <script type="text/ng-template" id="addModalContent">
      <div class="modal-header">
          <h3 class="modal-title">เพิ่มบัญชี <span ng-if="duplicate" style="color:red;font-weight:bold">(รหัสบัญชีซ้ำ)</span></h3>
      </div>
      <div class="modal-body" style="display: inline-block;width: 100%;">
          <div class="col-md-12">
            <div class="form-group">
              <label>รหัสบัญชี</label>
              <input placeholder='ใส่รหัสที่บัญชี' type="text" name="account_id" ng-model="account_id" class="form-control"  required>
            </div>
            <div class="form-group">
              <label>ชื่อบัญชี</label>
              <input placeholder='ใส่ชื่อบัญชี' type="text" name="account_name" ng-model="account_name" class="form-control"  required>
            </div>
          </div>
      </div>
      <div class="modal-footer">
          <a class="btn btn-info" type="button" ng-disabled="checkData()" ng-click="ok()" >ตกลง</a>
          <a class="btn btn-danger" type="button" ng-click="cancel()" >ยกเลิก</a>
      </div>
  </script>






  <script type="text/ng-template" id="editModalContent" >
      <div class="modal-header">
          <h3 class="modal-title">แก้ไขข้อมูลผังบัญชี</h3>
      </div>
      <div class="modal-body" style="display: inline-block;width: 100%;" ng-init="initData()">
          <div class="col-md-12">
            <div class="form-group">
              <label>รหัสบัญชี</label>
              <input placeholder='ใส่รหัสที่บัญชี' ng-disabled="true" type="text" name="account_id" ng-model="account_id" class="form-control"  required>
            </div>
            <div class="form-group">
              <label>ชื่อบัญชี</label>
              <input placeholder='ใส่ชื่อบัญชี' type="text" name="account_name" ng-model="account_name" class="form-control"  required>
            </div>
          </div>
      </div>
      <div class="modal-footer">
          <a class="btn btn-info" type="button" ng-disabled="checkData()" ng-click="ok()" >ตกลง</a>
          <a class="btn btn-danger" type="button" ng-click="cancel()" >ยกเลิก</a>
      </div>
  </script>





</div>
